.product {
    display: inline-block;
    width: 250px;
    height: 405px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #60883B;
    background-color: #87af523d;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
}

.product img{
    border-radius: 4px;
    width: 230px;
    height: 200px;
}