.list {
    display: inline-block;
}

.list ul {
    list-style-type: none
}

.list li {
    border: 1px solid #60883B;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #87af523d;
}