.footer-text {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-decoration: underline;
    height: 200px;
    background-color: #353A3F;
}